@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/flowbite-svelte/dist";

@theme {
	--primary: #141514;

	--color-night-800: #141514;

	--color-peachYellow-200: #ffde97;

	--color-lion-500: #ad936e;
}

@layer base {
	button,
	[role='button'] {
		cursor: pointer;
	}
}


html,
body {
	width: 100vw;
	height: auto;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-night-800);
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 600;
	overflow-x: hidden;
}
